
body {
  background: #f1eb9c;
  color: #000000;
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.4;
  background-image: url("download.jpeg");
  background-size: cover;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(255, 154, 154);
  padding: 18px;
  border: 3px solid #c2edff;
  border-top:5px solid #c4edff ;
  border-bottom:5px solid #cff1ff ;
  border-radius: 8px;
}

#name{
  background-color:rgb(255, 148, 226);
  padding-left: 5px;
  border-radius: 10px;
}
#nav{
  padding-left: 5px;
  padding-bottom: 0.4px;
  padding-top: 0.4px;
  background-color:rgb(169, 181, 255);
  border-radius: 12px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

h2 {
  margin-top: 18px;
  font-size: 18px;
}

p {
  margin: 8px 0;
}

.photo {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #1c66af;
  display: block;
  margin-bottom: 10px;
}

.skills {
  list-style: none;
  padding-left: 0;
}

.skills li {
  background: #ffffff;
  padding: 6px 8px;
  margin: 6px 0;
  border-radius: 6px;
}

.project {
  border: 1px solid #fefefe;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  background: #aab5ff;
}

a {
  color: #3600f7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.small {
  font-size: 13px;
  color: #000000;
}
#contact{
  border: 2px solid rgb(163, 255, 255);
  padding-left: 5px;
  background-color: rgb(255, 126, 126);
  border-radius: 10px;
  color: rgb(0, 0, 0);
}
#number:hover{
  text-decoration: underline;
}
